<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinersoy.androidoreovibrationbuilder">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VibrationProfile"
            android:label="@string/activity_vibration_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VibrationProfileList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".VibrationBuilderProvider"
            android:authorities="com.kevinersoy.androidoreovibrationbuilder.provider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>